<main>
  <div class="result">
    <div class="result-create">
      <p><%= flash[:notice] %></p>
    </div>
    <div class="result-title">
      <p><strong>Title:</strong><%= @book.title %></p>
    </div>
    <div class="result-body">
      <p><strong>Body:</strong><%= @book.body %></p>
    </div>
  </div>
  <div class="menu">
  <%= link_to "Edit" ,edit_book_path(@book.id)%>
  |
  <%= link_to "Back" ,books_path%>
  </div>
</main>